.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.item {
    flex: 1;
}

.center {
    justify-content: center;
}

.fullHeight {
    height: 100vh;
}

.left {
    color: dimgrey;
    order: 1;
    width: 20%;
    padding: 20px;
}

.content {
    color: dimgrey;
    order: 2;
    padding: 20px;
    border-left: 1px solid #777777;
}

.list-of-states {
    border-top: 1px solid #777777;
    margin-top: 20px;
}

.button-link {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
    text-align: left;
    width:100%;
    line-height: 30px;
}

.button-link:hover {
    color: #000;
    outline:none;
}

.button-link:focus {
    outline:none;
}

.button-link:active {
    outline:none;
}

.button-link.disabled:hover {
    color: #222;
}

.disabled {
    cursor: not-allowed;
    text-underline: #222222;
    text-decoration: underline;
    color:#222222;
}

ul {
    list-style-type: none;
    padding:20px;
}

.button {
    border-radius: 12px;
    background-color: #333;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.disabled {
    text-decoration: none;
    background-color: #777777;
    cursor:not-allowed;
}

.button:hover {
    background-color: #777;
    outline: none;
}

.button:active {
    outline:none;
}

.button:focus {
    outline:none;
}

i {
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.sub {
    padding-left: 40px!important;
}